.single-header
  %h1 
    =link_to root_path, data: {"turbolinks" => false}  do
      = image_tag 'home.jpg',width: "50px", height: "50px"
      %p ホームに戻る

.single-main
  .l-single-container
    %h2.l-single-head
      記事を編集する。
    
    = form_with class: "block",model: @tweet,local: true, url: tweet_path,method: :patch do |f|
    
      = f.label :image, class: 'sell-dropbox-container has-error' do
        %pre.visible-pc クリックしてファイルをアップロードできます
        =  render partial: 'error-message', locals: {tweet: @tweet, column: "image"}
        = f.file_field :image, class: 'hidden'
        
        .preview
          = image_tag @tweet.image.url, class: 'lower-message__image',width: "100%", height: "300px" if @tweet.image.url
          
      .form-group 
        -if @tweet.tags.present?
          = f.collection_select :tag_ids, Tag.all, :id, :name,{prompt: @tweet.tags.first.name}, { class: "input-default has-error" }
        -else
          = f.collection_select :tag_ids, Tag.all, :id, :name,{prompt: "---"}, { class: "input-default has-error" }

      .form-group
      
        = f.text_field :title, class: "input-default",placeholder: @tweet.title

      .form-group
        = f.text_area :content, cols: "30", placeholder: @tweet.content, rows: "10", class: "textarea-default"
      .form-group
        = f.submit "記事の内容を編集する", class: "btn-default btn-red"
      -# .form-group
      -#   = link_to tweet_path,method: :delete, class: "btn-default" do
      -#     記事を削除する。