.site-header
  .navi.hide
    .navi_home
      %a.white{href: '#0',alt: "HOME",color: "white"}
        %span.nomal home
        %span.hover ホーム
        
      -# = form_with class: "search_form",local: true, url: search_tweets_path,method: :get do |f|
      = search_form_for @search, url: search_tweets_path do |f| 
        = f.search_field :title_or_content_cont, class: "search_query",placeholder: "記事を検索する",required: ""
        = button_tag type: 'submit', class: 'btn btn-primary' do
          %i.fa.fa-search.btn-icon

    %ul.navi_list{"data-turbolinks" => "false"}
      -if user_signed_in?
        %li
          =link_to new_tweet_path,class: "white" do

            %span.nomal new
            %span.hover 投稿する
        %li
          =link_to destroy_user_session_path, method: :delete,class: "white" do
         
            %span.nomal logout
            %span.hover ログアウト

        %li
          =link_to edit_user_path(current_user),class: "white" do
         
            %span.nomal edit
            %span.hover ユーザー編集

      -else
        %li
          %a.white{href: new_user_registration_path}
            %span.nomal registation
            %span.hover 新規登録
        %li
          %a.white{href: new_user_session_path}
            %span.nomal login
            %span.hover ログイン
      



      %li
        %a.white{href: '#list'}
          %span.nomal posts
          %span.hover 投稿一覧


      %li
        %a.white{href: '#about'}
          %span.nomal about
          %span.hover 自己紹介


      %li
        %a.white{href: '#portfolio'}
          %span.nomal portfolio
          %span.hover ポートフォリオ
      %li
        %a.white{href: '#contact'}
          %span.nomal contact
          %span.hover お問い合わせ先

  
          
.main-advertising.position-fixed.slick#0
  = link_to '#0' do
    = image_tag 'irabu.jpg', :height => "480", :width => "100%" 

  = link_to '#0' do
    = image_tag 'mori.jpg', :height => "480", :width => "100%"

  = link_to '#0' do
    = image_tag 'greatbarrier.jpg', :height => "480", :width => "100%"
.search-result 
  検索結果がこちらに表示されます。



.l-content#list
  .l-column-main
    .m-article-lis.fadein

      = render @tweets

    = paginate(@tweets)

    %p.m-read#about
      自己紹介
    %article.m-article.js-article.wow.fadein.clearfix
      %figure.m-article_image
        = image_tag 'hawai.jpg', class: 'lower-message__image', width: '400px',height: '300px'
      .m-article_text-block
        .m-article_text-block-top
          = link_to '#0' do
            %h2.m-article_title 
              名前：斎藤大輝
            %p.m-article_date 
              エンジニアとして就活中の斎藤と申します。
            %p.m-article_summary 
              某大手警備会社を退職後、TECH::EXPERTを卒業して就活中の身です。日々の備忘録としても活用できるといいと思い、こちらのブログを作成しました。

    %p.m-read#portfolio.white
      = link_to root_path do
        portfolio
    .m-article2.displayflex
      %article.m-article-list2
        =link_to '#0' do
          .m-article2_image
            = image_tag  'miniblog.png', width: "290", height: "150"
          .m-article2_text-block
            %h2 ミニブログ
            %p TECH::EXPERTの応用カリキュラムで、ミニブログを作成しました。新規登録やログイン、投稿機能などの最低限の機能が使用できます。
  
      %article.m-article-list2.fadein
        =link_to '#0' do
          .m-article2_image
            = image_tag  'chatapp.png', width: "290", height: "150"
            .m-article2_text-block.fadein
              %h2 チャットアプリ
              %p ユーチューブの動画をもとにチャットアプリを作成しました。非同期通信で、チャットが可能です。
  
      %article.m-article-list2.fadein
        =link_to '#0' do
          .m-article2_image
            = image_tag  'quizapp.png', width: "290", height: "150"
          .m-article2_text-block
            %h2.m-article2_title クイズアプリ
            %p.m-article2_views 三択のクイズアプリです。問題数と、問題の内容をカスタマイズできます。html,css,jsの三つのファイルで作成しました。
        



#tf-contact
  .container
    .section-title
      %h3
      %hr ---
  .contact-#contact
    .contact-item.email saitouabcblue@icloud.com
    %p.contact-item or
    .contact-item.snsc
      %ul.list-inline
        %li
          =link_to 'https://www.facebook.com/daiki.saitou.9' do
            = fa_icon 'facebook', class: "facebook-icon"
        %li
          =link_to 'https://twitter.com/saitou311099' do
            = fa_icon 'twitter', class: "facebook-icon"
        %li
          =link_to 'https://github.com/feelspecial/freemarket_sample_61c' do
            = fa_icon 'github', class: "facebook-icon"