= render 'header'

.wrapper
  
  .main-advertising.position-fixed.slick#0
    = link_to '#0' do
      = image_tag 'irabu.jpg', :height => "480", :width => "100%" 

    = link_to '#0' do
      = image_tag 'mori.jpg', :height => "480", :width => "100%"

    = link_to '#0' do
      = image_tag 'greatbarrier.jpg', :height => "480", :width => "100%"

  .l-content

    = audio_tag 'menuettm.mp3'
    .search-result 
      検索結果がこちらに表示されます。
    
    .l-column-main#list
      .m-article-lis.fadein

        = render @tweets

      = paginate(@tweets)

      %p.m-read#about
        自己紹介
      %article.m-article.profileh-height.fadein.clearfix
        %figure.m-article_image
          = image_tag 'hawai.jpg', class: 'lower-message__image', width: '400px',height: '300px'
        .m-article_profile
          .m-article_profile-top
            = link_to '#0' do
              %h2.m-article_title 
                名前：斎藤大輝
              %p.m-article_date 
                エンジニアとして就活中の斎藤と申します。
              %p.m-article_summary
                某大手警備会社を退職後、TECH::EXPERTを卒業して現在転職活動中です。
                %br
                勤務希望地:名古屋、東京
                %br
                学習中言語:HTML、CSS、Ruby、Javascript、jQuery
                %br
                希望職種:サーバーサイドエンジニア。自分で考えて機能を実装することでが好きで、本ブログでもスクールで習ったこととポートフォリオの作成もかねて多くの機能を取り入れました。
              %p.profile-space
                %br
                  本ブログで実装した機能は下記の通りとなっております。
                %br
                ・インクリメンタルサーチ（記事の内容の非同期通信による検索）
                %br
                ・非同期通信。コメントがJSON形式でブラウザに送信される。
                %br
                ・自動更新。コメントが７秒ごとにスライドして更新される。
                %br
                ・新規登録、ログイン、ログアウト、ユーザー編集機能。
                %br
                ・投稿機能（タグ付け、画像投稿、タイトル、記事の本文を送信可能）
                %br
                ・投稿機能のバリデーション及びエラーメッセージ
                %br
                ・投稿及び投稿内容編集時の画像プレビュー表示。
                %br
                ・スムーススクロール
                %br
                ・ページネーション
                %br
                ・スリック機能（トップページで３枚の画像が数秒ごとに横にスライドされる）
                %br
                ・フェードイン表示（スクロールすると画像がスライドして表示される）
                %br
                ・投稿した記事の編集及び削除機能
                %br
                ・音楽再生機能。

                
      %p.m-read#portfolio.white
        = link_to root_path do
          portfolio
      .m-article2.displayflex
        %article.m-article-list2
          =link_to '#0' do
            .m-article2_image
              = image_tag  'miniblog.png', width: "290", height: "150"
            .m-article2_text-block
              %h2 ミニブログ
              %p TECH::EXPERTの応用カリキュラムで、ミニブログを作成しました。新規登録やログイン、投稿機能などの最低限の機能が使用できます。
    
        %article.m-article-list2.fadein
          =link_to '#0' do
            .m-article2_image
              = image_tag  'chatapp.png', width: "290", height: "150"
              .m-article2_text-block.fadein
                %h2 チャットアプリ
                %p ユーチューブの動画をもとにチャットアプリを作成しました。非同期通信で、チャットが可能です。
    
        %article.m-article-list2.fadein
          =link_to '#0' do
            .m-article2_image
              = image_tag  'quizapp.png', width: "290", height: "150"
            .m-article2_text-block
              %h2.m-article2_title クイズアプリ
              %p.m-article2_views 三択のクイズアプリです。問題数と、問題の内容をカスタマイズできます。html,css,jsの三つのファイルで作成しました。
          


  = render 'footer'

:javascript
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });

