
.site-header.l-header
  .navi.hide
    .navi_home
      %a.white{href: root_path,alt: "HOME",color: "white"}
        %span.nomal home
        %span.hover ホーム
    %ul.navi_list
      -if user_signed_in?
        %li
          =link_to new_tweet_path do

            %span.nomal NEW
            %span.hover 投稿する
        %li
          =link_to destroy_user_session_path, method: :delete do
         
            %span.nomal log out
            %span.hover ログアウト
      -else
        %li
          %a.white{href: new_user_registration_path}
            %span.nomal registation
            %span.hover 新規登録
        %li
          %a.white{href: new_user_session_path}
            %span.nomal login
            %span.hover ログイン

      %li
        %a.white{href: '#list'}
          %span.nomal List of posts
          %span.hover 投稿一覧


      %li
        %a.white{href: root_path}
          %span.nomal about
          %span.hover 自己紹介


      %li
        %a.white{href: '#portfolio'}
          %span.nomal portfolio
          %span.hover ポートフォリオ
      %li
        %a.white{href: '#contact'}
          %span.nomal contact
          %span.hover お問い合わせ先

  
          
.main-advertising.position-fixed.slick
  = link_to '#0' do
    = image_tag 'irabu.jpg', :height => "480", :width => "100%" 

  = link_to '#0' do
    = image_tag 'mori.jpg', :height => "480", :width => "100%"

  = link_to '#0' do
    = image_tag 'greatbarrier.jpg', :height => "480", :width => "100%"

.l-content#list
  .l-column-main
    .m-article-lis
      = render @tweets



      %p.m-read-more#portfolio
        = link_to root_path do
          portfolio
      .m-article2.displayflex
        %article.m-article-list2
          =link_to root_path do
            .m-article2_image
              = image_tag  'tita-umi.jpeg', width: "290", height: "150"
            .m-article2_text-block
              %h2 クイズアプリ
              %p ドットインストールの動画教材を元に作成しました。
    
        %article.m-article-list2
          =link_to root_path do
            .m-article2_image
              = image_tag  'tita-umi.jpeg', width: "290", height: "150"
              .m-article2_text-block
                %h2 クイズアプリ
                %p ドットインストールの動画教材を元に作成。
    
        %article.m-article-list2
          =link_to root_path do
            .m-article2_image
              = image_tag  'tita-umi.jpeg', width: "290", height: "150"
            .m-article2_text-block
              %h2.m-article2_title クイズアプリ
              %p.m-article2_views ドットインストールの動画教材を元に作成。
        



#tf-contact
  .container
    .section-title
      %h3
      %hr ---
  .contact-#contact
    .contact-item.email saitouabcblue@icloud.com
    %p.contact-item or
    .contact-item.snsc
      %ul.list-inline
        %li
          =link_to 'https://www.facebook.com/daiki.saitou.9' do
            = fa_icon 'facebook', class: "facebook-icon"
        %li
          =link_to 'https://twitter.com/saitou311099' do
            = fa_icon 'twitter', class: "facebook-icon"
        %li
          =link_to 'https://github.com/feelspecial/freemarket_sample_61c' do
            = fa_icon 'github', class: "facebook-icon"








